footer {
  padding: 40px 60px;
  text-align: center;
  background-color: #121416;
  color: $white;
  text-align: center;
  font-size: 18px;
  div{
    margin: 0 auto;
  }
  span{
    display: block;
    font-size: 14px;
    @media (max-width: $screen-sm) {
      font-size: 12px;
    }
  }
  a{
    color: white;

    &:hover{
      color: white;
    }
  }
}
