@import url('https://fonts.googleapis.com/css?family=Inconsolata|Karla');

// colors
$white : #ffffff;
$black : #000000;
$red : #D52D3B;
$darkred : #A2222D;
$yellow : #F4B646;
$grey : #f3f3f3;
$light-blue: #3B5998;

// fonts
$code-font : 'Inconsolata', monospace;
$main-font : 'Karla', sans-serif;


// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;
// Small tablets (portrait view)
$screen-md: 767px;
// Tablets and small desktops
$screen-lg: 992px;
// Large tablets and desktops
$screen-xl: 1280px;
