#about {
  padding-top: 0;
  text-align: left;

  .console {
    height: 80%;
    margin: 50px auto;
    padding: 0;
    z-index: 3;
    background-color: $black;
    // box-shadow: 1px 7px 50px 10px rgba(167, 119, 31, 1);
    font-family: $code-font;
    line-height: 30px;
    color: $white;

    .code {
      padding: 0 25px;
    }
    li {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: red;
    }
    .console-head {
      padding: 3px 0;
      background-color: $grey;
      color: $black;
      font-family: $main-font;



      .center {
        display: inline-block;
        width: 80%;
      }
      ul {
        display: inline;
        width: 20%;
        padding-left: 10px;

        #green{
          background: green;
        }
        #yellow{
          background: $yellow;
        }
      }
    }
  }
  @media screen and (max-width: $screen-sm){
    .code{
      font-size: 0.8em;
    }
    .no-display{
      display: none;
    }
  }
}
