$facebook-blue: #3B5998;
$cherry: #CC2127;

footer {
  padding: 30px 60px;
  padding-right: 0;
  padding-bottom: 40px;
  text-align: center;
  background-color: #121416;
  color: $white;

  .footer-heading{
    font-family: $main-font;
    font-weight: 400;
    font-size: 0.8em;
    text-align: left;
    display: block;
  }
  #school{
    color: white;
    text-align: left;

    .content{
      img{
        width: 70%;
        display: block;
        max-width: 200px;
      }
      span {
        display: inline-block;
        font-size: 0.6em;
      }
    }
  }
  .icons{
    text-align: left;
    .social-icons li {
      padding-top: 10px;
      display: inline-block;

      a {
        background-color: $grey;
        color: $black;
        line-height: 40px;
        padding: auto;
        text-align: center;
        display: block;
        width: 40px;
        height: 40px;
        font-size: 24px;
      }
      #facebook {
        background-color: $facebook-blue;
        color: $white;
      }
      #github {
        background-color: $black;
        color: $white;
      }
      #envelope {
        background-color: $cherry;
        color: $white;
      }
      #slack {
        background-color: $yellow;
        color: $black;
      }
    }
  }
  @media screen and (max-width:$screen-md) {
    padding-left: 10px;
    .footer-heading{
      font-size: 0.72em;
      &:first-child{
        margin-top: 30px;
      }
    }
  }
}
