#nav {
  background-color: $white;
  font-size: .73em;

  .navbar-nav {
    .active a{
      color: $yellow;
      background-color: $red;
    }
    a {
      display: block;
      padding: 10px 15px;
      text-decoration: none;
      color: $black;
      font-weight: 700;
      font-family: $main-font;
    }
  }
}
